<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/stylesheets/style.css">
<div class="sidebar">
  <header>
      <div class="image-text">
          <span class="image">
              <img src="/image/book.png" alt="user">
          </span>

          <div class="text-header">
              <span class="name">Library Management System</span>
          </div>
          
      </div>

       

  </header>

  <div class="menu-bar">
      <div class="menu">
          <ul class="menu-links">
            
              <li class="nav-link">
                  <a href="#">
                      <i class='bx bx-home-alt icon'></i>
                      <span class="text nav-text">Dashboard</span>
                  </a>
              </li>
              <li class="nav-link">
                  <a href="#">
                      <i class='bx bx-pencil icon'></i>
                      <span class="text nav-text">Authors</span>
                  </a>
              </li>
              <li class="nav-link">
                  <a href="#">
                      <i class='bx bx-book-content icon'></i>
                      <span class="text nav-text">Books</span>
                  </a>
              </li>
              <li class="nav-link">
                  <a href="#">
                      <i class='bx bx-user-circle icon'></i>
                      <span class="text nav-text">Manage Students</span>
                  </a>
              </li>
              <li class="nav-link">
                  <a href="/">
                      <i class='bx bx-error-circle icon'></i>
                      <span class="text nav-text">issued Books</span>
                  </a>
              </li>
          </ul>
      </div>
      <div class="user-info">
        <span class="nav-link">Welcome, <%= user.firstname %></span>
    </div>
      <div class="bottom-content">
          <li class="nav-item mx-2">
            <a class="nav-link p-0">
                <form action="/dashboardAdmin/<%= user._id %>/signout" method="POST">
                    <button class="btn btn-outline-dark"> Sign Out </button>
                </form>
            </a>
          </li>
      </div>

  </div>
</div>