<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://cdn.ckeditor.com/4.18.0/standard/ckeditor.js"></script>
</head>
<body>
    <%- include layout %>
    <div class="container">
        <%- messages() %>
        <h2 align="center">เขียนบทความ</h2>
        

        <% if(locals.errors) { %>
        <ul class="alert alert-danger">
            <% Object.values(errors).forEach(function(error){%>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
        <% } %>
        <form class="" action="/blog/add" method="post">
            <div class="form-group">
                <label for="">ชื่อบทความ</label>
                <input type="text" name="name" class="form-control" id="" placeholder="หัวข้อ">
            </div>
            <div class="form-group">
                <label for="">รายละเอียด</label>
                <textarea name="description" id="" cols="80" rows="8" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="">ผู้แต่ง</label>
                <input type="text" class="form-control" name="author">
            </div>
            <button type="submit" class="btn btn-primary">บันทึก</button>
        </form>
    </div>
    <script>
        $(function(){
            $('#messages').addClass('alert alert-success');	
        })
        CKEDITOR.replace( 'description' );
</script>
</body>
</html>