<%- include("partials/layoutAdmin") -%>
    <div class="text-center container">
    <div class="dashboard">
        <h2 class="my-5">Add a new book to library!</h2>
        <form action="/library/<%= user._id %>/newBook" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Book Name</span>
                <input name="newBookName" type="text" class="form-control" placeholder="New Book Name" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <!--<span class="input-group-text" id="basic-addon1"><div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Category</span>
                <input name="newBookISBN" type="text" class="form-control" placeholder="Book's ISBN" aria-describedby="basic-addon1" required>-->

                <label for="category">Category:</label>
                <select name="newBookCategory" type="text" class="form-control" placeholder="Book's Category" id="cars">
                    <option value="computer">Computer</option>
                    <option value="math">Math</option>
                    <option value="english">English</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">ISBN Number</span>
                <input name="newBookISBN" type="text" class="form-control" placeholder="Book's ISBN" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Author</span>
                <input name="newBookAuthor"  type="text" class="form-control" placeholder="Book's Author" aria-describedby="basic-addon1" required>
            </div>
            <button class="btn btn-primary" type="submit">Add book to the library!</button>
        </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>